PORT=4000
NODE_ENV=DEV

MONGO_DEV_URI=mongodb+srv://...
MONGO_PROD_URI=mongodb+srv://...

CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_KEY=your_cloudinary_key
CLOUDINARY_SECRET=your_cloudinary_secret


